.question-card{
    animation: card-animation .3s ease-out 0s;
}
@keyframes card-animation{
    0%{transform: scale(.9); opacity: 0;}
    100%{transform: scale(1); opacity: 1;}
}

.questions-container{

    // position: relative;
    padding-right: 200px;
    aside{
        position: absolute;
        top: 56px;
        right: 0px;
        min-width: 200px;
        padding: 20px;
        height: calc(100vh - 56px);
        min-height: 500px;
        z-index: 10px;
    }
    
    &__list{
        list-style: none;
        margin: 0px;
        padding: 0px;
        li{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
            cursor: pointer;
            padding: 5px 8px;
            border-radius: 4px;
            font-size: .8rem;
            
            &:hover,
            &.active{
                background-color:#6158cf;
                color: #e8ebfb;
            }
        }
    }
}    


// ============== Login ==============
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #6158cf;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  