<div class="container questions-container">
    <aside>
        <ul class="questions-container__list" *ngIf="questions.length > 1">
            <!-- <ul class="questions-container__list"> -->
            <li *ngFor="let q of questions; let i = index;" (click)="moveTo(i)" [class.active]="currentQuestion == i">
                <span>Question #{{ i+1 }}</span>
                <span class="" *ngIf="answersForm.value['ans_' + (i+1)]"><i class="fas fa-check"></i></span>
            </li>
            <!-- <li>
                <span>Question #1</span>
                <span class="text-success"><i class="fas fa-check"></i></span>
            </li>
            <li>
                <span>Question #1</span>
                <span class="text-success"><i class="fas fa-check"></i></span>
            </li>
            <li>
                <span>Question #1</span>
                <span class="text-success"><i class="fas fa-check"></i></span>
            </li>
            <li>
                <span>Question #1</span>
                <span class="text-success"><i class="fas fa-check"></i></span>
            </li>
            <li>
                <span>Question #1</span>
                <span class="text-success"><i class="fas fa-check"></i></span>
            </li> -->
        </ul>
    </aside>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="my-4" *ngIf="noti">
                <div class="alert alert-primary">{{ noti }}</div>
            </div>

            <div class="card card-body my-4">
                <form [formGroup]="coursesForm">
                    <div class="form-group">
                        <label>Courses</label>
                        <select formControlName="course_id" class="form-control">
                            <option value="" disabled>-------- Select a course --------</option>
                            <option *ngFor="let c of courses" [value]="c.CrsId">{{ c.CrsName }}</option>
                        </select>
                    </div>
                </form>
                <form class="" [formGroup]="examForm" (ngSubmit)="getQuestions()">
                    <div class="text-center">
                        <div class="lds-ellipsis" *ngIf="isLoading">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div *ngIf="exams.length && exams[0].GenerationDate">

                        <div class="form-group">
                            <label>Exam Date:</label>
                            <select formControlName="exam_id" class="form-control">
                                <option value="" disabled>-------- Select an exam --------</option>
                                <option *ngFor="let e of exams" [value]="e.ExamId">{{ e.GenerationDate }}</option>
                            </select>
                            <!-- <input type="number" class="form-control" formControlName="exam_id"> -->
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" [disabled]="!examForm.valid">Get
                                Questions</button>
                        </div>
                    </div>
                </form>
            </div>

            <h6 *ngIf="questions.length > 1">
                # Questions: {{ questions.length }}
            </h6>
            <!-- ============= Questions ============= -->
            <form [formGroup]="answersForm" *ngIf="questions.length > 1" (ngSubmit)="submitAnswers()">
                <div *ngFor="let q of questions; let i = index;">
                    <div class="card my-3 question-card" *ngIf="i == currentQuestion">
                        <div class="card-header">
                            <h6 class="card-title">{{ i + 1 }} - {{ q.question }}</h6>
                        </div>
                        <div class="card-body">

                            <!-- True And False -->
                            <div class="form-group" *ngIf="q.QuestionType == 'TrueAndFalse'">
                                <div class="my-1">
                                    <input type="radio" [formControlName]="q.inputName" value="Ans_A"> True
                                </div>
                                <div class="my-1">
                                    <input type="radio" [formControlName]="q.inputName" value="Ans_B"> False
                                </div>
                            </div>

                            <!-- MCQ -->
                            <div class="form-group" *ngIf="q.QuestionType == 'MCQ'">
                                <div class="my-1">
                                    <input type="radio" [formControlName]="q.inputName" value="Ans_A"> {{ q.Ans_A }}
                                </div>
                                <div class="my-1">
                                    <input type="radio" [formControlName]="q.inputName" value="Ans_B"> {{ q.Ans_B }}
                                </div>
                                <div class="my-1">
                                    <input type="radio" [formControlName]="q.inputName" value="Ans_C"> {{ q.Ans_C }}
                                </div>
                                <div class="my-1">
                                    <input type="radio" [formControlName]="q.inputName" value="Ans_D"> {{ q.Ans_D }}
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

                <div class="form-group my-4" *ngIf="currentQuestion == questions.length - 1">
                    <div *ngIf="submitLoading" class="lds-ellipsis">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                    <button class="btn btn-primary" *ngIf="!submitLoading" [disabled]="!answersForm.valid || submitLoading">
                        Submit Answers
                    </button>
                    <div class="my-2" *ngIf="!answersForm.valid">
                        <div class="alert alert-danger">
                            <small>Please answer all question</small>
                        </div>
                    </div>
                </div>
            </form>


            <div class="my-4 d-flex align-items-center justify-content-between" *ngIf="questions.length > 1">
                <button class="btn btn-light" (click)="previous()" [disabled]="currentQuestion == 0">
                    <i class="fas fa-chevron-left"></i> Previous
                </button>
                <button class="btn btn-light" (click)="next()" [disabled]="currentQuestion == questions.length - 1">
                    Next <i class="fas fa-chevron-right"></i>
                </button>
            </div>

        </div>
    </div>
</div>