<div class="row">
    <div class="col-md-3 my-2">
        <div class="form-group">
            <select name="topic_id" [(ngModel)]="newTopicID" class="form-control">
                <option value="">--- Choose Topic ---</option>
                <option 
                    *ngFor="let t of topics" 
                    [value]="t.TopId" >{{ t.TopicName }}</option>
            </select>
        </div>
    </div>
    <div class="col-md-6 my-2">
        <div class="form-group">
            <input type="text" name="course_name" class="form-control" [(ngModel)]="course.CrsName">
        </div>
    </div>
    <div class="col-md-3 my-2">
        <div class="form-group">
            <button 
                class="btn btn-primary" 
                [disabled]="course.CrsName.length < 2"
                (click)="updateCourse()">Update</button>
        </div>
    </div>

    <div class="col-12">
        <div class="alert alert-primary" *ngIf="noti">
            <small>{{ noti }}</small>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <form [formGroup]="updateForm" (ngSubmit)="submitCreateExam()">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label># TF Questions:</label>
                        <input class="form-control" type="number" formControlName="TF">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label># MCQ Questions:</label>
                        <input class="form-control" type="number" formControlName="MCQ">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Date:</label>
                        <input class="form-control" type="date">
                        <!-- <input class="form-control" type="date" formControlName="date"> -->
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Generate Exam</button>
            </div>
        </form>
    </div>
</div>
